h1 {
  color: white;
}

body {
  position: absolute;
  font-family: "Raleway", sans-serif;
  height: auto;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 100%;
  color: white;
  z-index: 0;
  transition: 0.3s;
  overflow-x: hidden;
}

.homesplash {
  animation: fadeInAnimation ease 2.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ytiframe {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 8;
  transition: ease-in linear 1s;
}

.centerleft {
  position: relative;
  color: white;
  vertical-align: middle;
  line-height: 100%;
  margin-left: 100px;
  align-items: center;
  margin-top: 20%;
  font-size: 48px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(51, 51, 51);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
  transition: 0.1s;
  font-size: 30px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@viewport {
  width: device-width;
  zoom: 1;
}

.forum {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  margin: 5px 3px;
  padding: 16px 33px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.forum:hover {
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.2),
    0px 0px 4px 4px rgba(255, 255, 255, 0.19);
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 15px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}

.games {
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
}

.games:hover {
  color: rgb(11, 228, 243);
}
